@model TrainingSummaryViewModel


<section class="panel @(Model.IsCancelled?"panel-default":"panel-primary") panelTopMargin100 training-panel">
    <div id="training-heading-@Model.TrainingId" class="panel-heading panel-heading-training">
        <h2>@Model.Location</h2>
        <h4>@Model.Date.DayOfWeek @Model.StartTime.ToString("HH:mm") - @Model.EndTime.ToString("HH:mm")</h4>
        <div class="row">
            <h6 class="col-xs-6 toggle-row">@Model.Date.ToString("yyyy-MM-dd")</h6>
            <div>
                <span id="toggle-training-glyph-@Model.TrainingId" class="glyphicon glyphicon-chevron-up"></span>
            </div>
        </div>
    </div>

    <div id="training-body-@Model.TrainingId" class="panel-body main-panel-body">

        <div>@Model.Info</div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Anmälda deltagare</h4>
            </div>

            <div id="enrollment_summary_@Model.TrainingId" class="panel-body">
                @Html.Partial("_EnrollmentSummary", Model.EnrolledUsers)
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @if (Model.EnrolledUsers.Any(ute => ute.User.Email == User.Identity.Name))
            {
            <a id="dismiss_@Model.TrainingId" class="btn btn-primary dismiss @(Model.IsCancelled?"disabled":"")"
               data-html-target="#training_summary_@Model.TrainingId"
               data-method="POST"
               data-url="/api/training/dismissTraining"
               data-action-type="add"
               data-model='{"trainingId":"@Model.TrainingId"}'>
                Kommer ej
            </a>
        }
        else
        {
            <a id="enroll_@Model.TrainingId" class="btn btn-primary enroll @(Model.IsCancelled?"disabled":"")"
               data-html-target="#training_summary_@Model.TrainingId"
               data-method="POST"
               data-url="/api/training/enrollTraining"
               data-action-type="add"
               data-model='{"trainingId":"@Model.TrainingId"}'>
                Kommer
            </a>
        }

        <div class="admin-controlls btn-group" style="float: right">
            @if (Model.IsAdmin)
            {
                <a id="edit-training-@Model.TrainingId" class="btn btn-sm btn-info edit-training admin-controll"
                   data-html-target="#training_summary_@Model.TrainingId"
                   data-method="GET"
                   data-url="/api/training/editTraining"
                   data-action-type="add"
                   data-model='{"trainingId":"@Model.TrainingId"}'>
                    Ändra
                </a>

                <a id="delete-training" class="btn btn-sm btn-danger admin-controll"
                   data-html-target="#training_summary_@Model.TrainingId"
                   data-method="DELETE"
                   data-url="/api/training/deleteTraining"
                   data-action-type="delete"
                   data-model='{"trainingId":"@Model.TrainingId"}'
                   data-toggle="confirmation"
                   data-btn-ok-label="Ja" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                   data-btn-ok-class="btn-success"
                   data-btn-cancel-label="Nej" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                   data-btn-cancel-class="btn-danger"
                   data-title="Bekräfta borttagning" data-content="Vill du ta bort träningen?">
                    Ta bort
                </a>
                if (Model.IsCancelled)
                {
                    <a id="toggle-training-status-@Model.TrainingId" class="btn btn-sm btn-success uncancel admin-controll"
                       data-html-target="#training_summary_@Model.TrainingId"
                       data-method="POST"
                       data-url="/api/training/toggleTrainingStatus"
                       data-action-type="addSmooth"
                       data-model='{"trainingId":"@Model.TrainingId","isCancelled":"@false"}'>
                        Öppna
                    </a>
                }
                else
                {
                    <a id="toggle-training-status-@Model.TrainingId" class="btn btn-sm btn-warning cancel admin-controll"
                       data-html-target="#training_summary_@Model.TrainingId"
                       data-method="POST"
                       data-url="/api/training/toggleTrainingStatus"
                       data-action-type="addSmooth"
                       data-model='{"trainingId":"@Model.TrainingId","isCancelled":"@true"}'>
                        Ställ in
                    </a>
                }
            }
        </div>
    </div>
</section>
<script>

</script>