@model TrainingsViewModel


@foreach (var training in Model.Tranings)
{
    <section class="panel panel-primary panelTopMargin100">
        <div class="panel-heading">
            <h2>@training.Location</h2>
            <h4>@training.Date.DayOfWeek  @training.StartTime.Hour:@training.StartTime.Minute - @training.EndTime.Hour:@training.EndTime.Minute</h4>
            <h6>@training.Date.Year/@training.Date.Month/@training.Date.Day</h6>
        </div>
        <div class="panel-body">
            <div>@training.Info</div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Anmälda deltagare</h4>
                </div>

                <div class="panel-body">
                    @foreach (var userTraningEnrollment in training.EnrolledUsers)
                    {

                        @Html.Partial("_UserSummary", userTraningEnrollment)
                    }

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <table>
                <tr>
                    <th>
                        <form>
                            @if (training.EnrolledUsers.Any(ute => ute.User.Email == User.Identity.Name))
                            {
                                <a id="dismiss" class="btn btn-primary" data-model='{"trainingId":"@training.Id","returnUrl":"@Model.ReturnUrl"}'>Ångra anmälan</a>
                            }
                            else
                            {
                                <a id="enroll" class="btn btn-primary" data-model='{"trainingId":"@training.Id","returnUrl":"@Model.ReturnUrl"}'>Kommer</a>
                            }
                        </form>
                    </th>
                    <th>
                        <div class="col-lg-12">
                            @if (Model.IsAdmin)
                            {
                                <a asp-action="Edit" asp-controller="Training"
                                   asp-route-trainingId="@training.Id" asp-route-returnUrl="@Model.ReturnUrl">Ändra</a>
                                <a asp-action="Delete" asp-controller="Training"
                                   asp-route-trainingId="@training.Id" asp-route-returnUrl="@Model.ReturnUrl">Ta bort</a>

                            }
                        </div>
                    </th>
                </tr>
            </table>


        </div>
    </section>

}