@model AccountDetailsViewModel

<div class="panel panel-info" style="margin-top: 100px">
    <div class="panel-heading">
        <h2>@Model.Firstname @Model.Lastname</h2>
    </div>
    <div class="panel-body">
        <form method="get" asp-antiforgery="true">
            <div>
                <label>Email: @Model.Email</label>
            </div>
            <div>
                <label>Förnamn: @Model.Firstname</label>
            </div>
            <div>
                <label>Efternamn: @Model.Lastname</label>
            </div>
            <div>
                <label>Personnummer: @Model.SocialSecurityNumber</label>
            </div>
            <div>
                <label>Ort: @Model.City</label>
            </div>
            <div>
                <label>Address: @Model.Street</label>
            </div>
            <div>
                <label>Postnummer: @Model.ZipCode</label>
            </div>
            <div>
                <input class="btn btn-info" type="submit" value="Edit" asp-action="Edit" />
            </div>
        </form>
    </div>
</div>