@model AccountDetailsViewModel

<div class="panel panel-info panelTopMargin100">
    <div class="panel-heading">
        <h2>@Model.Firstname @Model.Lastname</h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class=" col-sm-6 col-sm-6">
                <table class="table-responsive" id="table-override">
                    <tbody>
                        <tr>
                            <td><label class="control-label" asp-for="SocialSecurityNumber"></label></td>
                            <td>@Model.SocialSecurityNumber</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="Firstname"></label></td>
                            <td>@Model.Firstname</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="Lastname"></label></td>
                            <td>@Model.Lastname</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="Street"></label></td>
                            <td>@Model.Street</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="ZipCode"></label></td>
                            <td>@Model.ZipCode</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="City"></label></td>
                            <td>@Model.City</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" asp-for="Email"></label></td>
                            <td>@Model.Email</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a>
    </div>
</div>
