@model TodaysTrainingsViewModel

@{
    ViewBag.Title = "title";

}

<h2>Dagens träningar</h2>
@if (!Model.TodaysTranings.Any())
{
    <div>
        Ingen träning idag
    </div>
}
else
{
    foreach (var training in Model.TodaysTranings)
    {
        <section>
            <h3>Tid @training.StartTime.Hour : @training.StartTime.Minute - @training.EndTime.Hour : @training.EndTime.Minute </h3>
            <div>@training.Info</div>
            <h4>Anmälda deltagare:</h4>
            @foreach (var userTraningEnrollment in training.EnrolledUsers)
            {
                @Html.Partial("_UserSummary", userTraningEnrollment)
            }

            @(training.EnrolledUsers.Any(ute => ute.User.Email == User.Identity.Name) ? 
                  Html.ActionLink("Kommer Inte", "DismissTraining", training) : 
                  Html.ActionLink("Kommer", "EnrollTraining", training))
        </section>

        

    }
}